img {
  width: 100%;
  display: block;
}
.head {
  height: .88rem;
}
.headTitle {
  color: #fff;
  font-size: 20px;
  position: absolute;
  bottom: 0.09rem;
  margin-left: 50%;
  transform: translate(-50%,0);
  z-index: 70;
}
.search {
  width: 3.15rem;
  height: .32rem;
  padding-left: .53rem;
  background: #FFFFFF;
  opacity: 0.25;
  border: none;
  border-radius: 6px;
}
.searchPic {
  display: inline-block;
  width: .28rem;
  height: .28rem;
  position: absolute;
  left: .11rem;
  bottom: 3px;
}
.bigBox {
  display: flex;
}

.content {
  width: 5.38rem;
  margin: 0 auto;
}
.content .banner {
  height: 2rem;
  padding: .24rem 0 .42rem;
}
.goodsList ul {
  width: 3.7rem;
  margin: 0 auto;
}
.goodsList ul li {
  width: 1.6rem;
  float: left;
}
.goodsList ul li:nth-child(odd) {
  margin-right: .5rem;
} 
.goodsList ul li .goodsImg {
  height: 1.6rem;
  margin-bottom: .1rem;
}
.goodsList ul li .goodsName {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
} 